<% if users.any? %>
  <ul class="media-list">
    <% users.each do |user| %>
      <li class="media">
        <div class="media-left">
          <img class="media-object img-rounded" src="assets/f_f_object_115_s64_f_object_115_0bg.png" alt="user_icon">
        </div>
        <div class="media-body">
          <div>
            <%= link_to user.name, user_path(user) %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
  <%= paginate users %>
<% end %>