<div class="row university_projects">
    <div class="projects_type_header col-md-12">
        <div class="col-md-6">
            <h1><%= current_user.university.name %>内のプロジェクト</h1>
        </div>
    </div>
</div>
<div class="row closing_soon_projects">
    <div class="projects_type_header col-md-12">
        <div class="projects_type col-md-3">
            <h4>締切間近のプロジェクト</h4>
        </div>
    </div>
    <div class="project_type_body col-md-12">
      <%= render 'projects/projects', projects: @closing_soon_projects %>
      <%= paginate @closing_soon_projects %>
    </div>
</div>