<div class="row university_projects col-xs-12">
    <h1 class="col-md-7"><%= current_user.university.name %>のプロジェクト</h1>
</div>
<div class="row closing_soon_projects">
    <div class="projects_type_header col-xs-12">
        <div class="projects_type col-xs-12">
            <h4>締切間近のプロジェクト <span class="badge projects_count_badge"><%= @closing_soon_projects.count %></span></h4>
        </div>
    </div>
    <div class="project_type_body col-xs-12">
      <%= render 'projects/projects', projects: @closing_soon_projects %>
      <div class="text-center col-xs-12">
          <%= paginate @closing_soon_projects %>
      </div>
    </div>
</div>