<div class="row university_projects col-xs-12">
    <h1 class="col-md-7"><%= current_user.university.name %>のプロジェクト</h1>
</div>
<div class="row popular_projects">
    <div class="projects_type_header col-xs-12">
        <div class="projects_type col-xs-12">
            <h4>人気のプロジェクト <span class="badge projects_count_badge"><%= @popular_projects.length %></span></h4>
        </div>
    </div>
    <div class="project_type_body col-xs-12">
      <%= render 'projects/projects', projects: @popular_projects %>
      <%= paginate @popular_projects %>
    </div>
</div>