/* ------------------- */
.thumbnail {
  height: auto;
  width: 100%;
  margin-bottom: 25px;
  display: inline-block;
  position: relative;
  a {
    text-decoration: none;
  }
  &:hover {
    box-shadow: 0 2px 2px gray;
    transition: 0.1s;
  }
  .thumbnail_img {
    width: 100%;
    background-color: #dcdcdc;
    position: relative;
    &:before {
      content: "";
      display: block;
      padding-top: 56%;
    }
    .thumbnail_project_img {
      max-height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
  }
  .thumbnail_project_title {
    height: 2em;
    margin-bottom: 10px;
  }
  .progress {
    margin-bottom: 0;
    .progress-bar {
      max-width: 100%;
    }
  }
}


/* -----サムネイルにかけるリボン----- */
.ribbon {
  width: 120px;
  height: 120px;
  overflow: hidden;
  position: absolute;
  top: -7px;
  left: -7px;
}

.ribbon.closed::before,
.ribbon.closed::after {
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
  border: 5px solid #a52a2a;
}

.ribbon.called_off::before,
.ribbon.called_off::after {
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
  border: 5px solid #a52a2a;
}

.ribbon.closing_soon::before,
.ribbon.closing_soon::after {
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
  border: 5px solid #d2691e;
}

.ribbon span.closed {
  position: absolute;
  display: block;
  width: 225px;
  padding: 7px 0;
  background-color: #d9534f;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  color: #fff;
  font: 700 11px/1 'Noto Sans JP';
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  text-align: center;
}

.ribbon span.called_off {
  position: absolute;
  display: block;
  width: 225px;
  padding: 7px 0;
  background-color: #d9534f;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  color: #fff;
  font: 700 11px/1 'Noto Sans JP';
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  text-align: center;
}

.ribbon span.closing_soon {
  position: absolute;
  display: block;
  width: 225px;
  padding: 7px 0;
  background-color: #ff8c00;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  color: #fff;
  font: 700 11px/1 'Noto Sans JP';
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  text-align: center;
}

.ribbon::before,
.ribbon::after {
  border-top-color: transparent;
  border-left-color: transparent;
}

.ribbon::before {
  top: 0;
  right: 17px;
}

.ribbon::after {
  bottom: 17px;
  left: 0;
}

.ribbon span {
  right: -35px;
  top: 30px;
  transform: rotate(-45deg);
}
/* ------------------------------------ */



/* -------プロジェクトページ------ */
.project_result {
  p {
    overflow-wrap: break-word;
　　word-wrap: break-word;
  }
}

.project_detail_img {
  width: 100%;
  display: flex;
  background-color: #dcdcdc;
  position: relative;
  &:before {
    content:"";
    display: block;
    padding-top: 56%;
  }
  .project_img {
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

.project_details {
  .all_or_nothing_message {
    font-size: 13px;
    padding-left: 1em;
    text-indent: -1em;
  }
  .set_the_maximum_message {
    font-size: 13px;
    padding-left: 1em;
    text-indent: -1em;
  }
}

.fas.fa-star {
  color: #ffa500;
}

.twitter {
  margin-top: 15px;
  .twitter-share-button {
    display:inline-block;
    vertical-align: middle;
  }
  .twitter-share-message {
    display: inline;
    vertical-align: middle;
  }
  &.for-md-screen {
    display: none;
  }
}

.project_tabs {
  margin-top: 40px;
  .nav-item {
    .nav-link {
      height: 45px;
    }
  }
  .tab-content {
    margin-top: 25px;
    .project_content {
      font-size: 20px;
    }
    #project_participants {
      .not_canceled_participants {
        margin-bottom: 50px;
        .no_notcanceled_participants {
          color: gray;
          padding-left: 25px;
        }
      }
      .canceled_participants {
        margin-bottom: 50px;
        .no_canceled_participants {
          color: gray;
          padding-left: 25px;
        }
      }
    }
  }
}

/* ------------------------------- */


.row.university_projects {
 margin-bottom: 45px; 
}

.row.fresh_projects {
  margin-bottom: 40px;
}

.row.popular_projects {
  margin-bottom: 40px;
}

.row.closing_soon_projects {
  margin-bottom: 40px;
}

.projects_type {
  margin-bottom: 10px;
  h {
    display: inline-block;
    vertical-align: middle;
    .badge {
      display: inline;
      vertical-align: middle;
    }
  }
}

.projects_type_header {
  margin-bottom: 5px;
  height: 50px;
}

.see_all {
  margin-top: 25px;
}

.see_more {
  margin-top: 5px;
}

.project_owner {
  margin-bottom: 15px;
}


/* -------プロジェクトフォーム--------- */
.form_for_project {
  .btn {
    margin-top: 60px;
  }
}
/* ------------------------------------ */


@media (max-width:321px) {
  .projects_type > h4 {
    font-size: 15px;
  }
  
  .see_more {
    margin-top: 4px;
  }
  
  .thumbnail {
    .thumbnail_project_title {
      height: 3em;
    }
  }
}

@media (max-width:380px) {
  .project_result {
    p {
      font-size: 12px;
    }
  }
}

@media (max-width:488px) {
  .project_details {
    .all_or_nothing_message {
      font-size: 10px;
    }
    .set_the_maximum_message {
      font-size: 10px;
    }
  }
}

@media (max-width:767px) {
  .university_projects {
    .see_all {
      .btn {
      font-size: 12px;
      margin-top: 0;
      float: right;
      }
      .btn + * {
        clear: both;
      }
    }
  }
  
  .see_more.btn {
    float: right;
  }
  
  .projects_type_header > h1 {
    font-size: 24px;
  }
  
  .project_title > h1 {
    font-size: 20px;
  }
  
  .project_recruitment_numbers > h2 {
   font-size: 20px; 
  }
  
  .project_participants_number > h2 {
    font-size: 20px;
  }
  
  .project_deadline > h2 {
    font-size: 20px;
  }
  
  .nav-tabs.nav-justified > li {
    float: left;
    padding: 0;
  }
  
  .tabs_badge {
    display: none;
  }
}

@media (max-width:352px) {
  .all_projects {
    .projects_type_header {
      .projects_type {
        h4 {
          font-size: 18px;
        }
      }
    }
  }
  
  .project_recruitment_numbers {
    h2 {
      font-size: 16px;
    }
  }
  .project_participants_number {
    h2 {
      font-size: 16px;
    }
  }
  .project_deadline {
    h2 {
      font-size: 16px;
    }
  }
}

@media (max-width:488px) {
  .university_projects {
    h1 {
      font-size: 24px;
    }
  }
}

@media (min-width:768px) {
  .project_result {
    p {
      font-size: 24px;
    }
  }
}

@media (max-width:991px) {
  .project_result {
    margin-bottom: 15px;
  }
  .twitter {
    margin-top: 25px;
  }
  
  .project_tabs {
    padding-top: 30px;
  }
}

@media (min-width:991px) {
  .twitter {
    display: none;
    
    &.for-md-screen {
      display: block;
      margin-top: 25px;
    }
  }
}

@media (min-width:321px) and (max-width:488px) {
  .project_result {
    p {
      font-size: 12px;
    }
  }
}

@media (min-width:489px) and (max-width:767px) {
  .project_result {
    p {
      font-size: 18px;
    }
  }
}

@media (min-width:768px) and (max-width:1200px) {
  .thumbnail {
    .thumbnail_project_title {
      height: 3em;
      margin-bottom: 10px;
    }
  }
}

@media (max-width:1200px) {
  .see_all {
    margin-top: 23px;
  }
}